In [17]:
%load_ext autoreload
%autoreload 2

In [7]:
import pandas as pd

In [25]:
import os, sys
sys.path.append(os.path.join(os.path.dirname('.'), "../preprocessing"))
from transform_for_num_issues_pred import main as transform_dataset, group_table, removing_cols

In [10]:
df_orig = pd.read_pickle('../data/data_from_remove_from_dataset.pkl')
df_orig.shape

(516406, 40)

In [20]:
df_orig.head(1).T

                                                   905425
CASE_ENQUIRY_ID                              101001983786
OPEN_DT                               2017-01-07 10:51:37
CLOSED_DT                             2017-01-07 11:46:43
TYPE                             Request for Snow Plowing
SubmittedPhoto                                       True
LOCATION_ZIPCODE                                     2124
Property_Type                                     Address
LATITUDE                                          42.2809
LONGITUDE                                         -71.068
Source                               Citizens Connect App
description                                           NaN
COMPLETION_HOURS_LOG_10                        -0.0369997
tract_and_block_group                             1004002
queue_wk                                            55026
queue_wk_open                                           1
race_white                                       0.242399
race_black                                       0.514358
race_asian                                       0.035473
race_hispanic                                   0.0675676
race_other                                       0.140203
poverty_pop_below_poverty_level                         0
earned_income_per_capita                            34340
poverty_pop_w_public_assistance                 0.0597484
poverty_pop_w_food_stamps                        0.138365
poverty_pop_w_ssi                               0.0597484
is_description                                      False
zipcode                                              2124
neighborhood_from_zip                          Dorchester
school                                      15_hs_diploma
school_std_dev                                    91.7672
housing                                               own
housing_std_dev                                   26.8701
bedroom                                                 3
bedroom_std_dev                                   61.5123
value                                              350000
value_std_dev                                     20.9794
rent                                                 1750
rent_std_dev                                      19.1622
income                                             112500
income_std_dev                                    28.6167

In [36]:
df = transform_dataset(df_orig)
df.shape

transform_for_num_issues_pred.py:57: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  df_subset['NUM_ISSUES'] = 1

(822, 27)

In [37]:
df.head(1).T

                                             0
tract_and_block_group                  1004002
race_white                            0.242399
race_black                            0.514358
race_asian                            0.035473
race_hispanic                        0.0675676
race_other                            0.140203
poverty_pop_below_poverty_level              0
earned_income_per_capita                 34340
poverty_pop_w_public_assistance      0.0597484
poverty_pop_w_food_stamps             0.138365
poverty_pop_w_ssi                    0.0597484
zipcode                                   2124
neighborhood_from_zip               Dorchester
school                           15_hs_diploma
school_std_dev                         91.7672
housing                                    own
housing_std_dev                        26.8701
bedroom                                      3
bedroom_std_dev                        61.5123
value                                   350000
value_std_dev                          20.9794
rent                                      1750
rent_std_dev                           19.1622
income                                  112500
income_std_dev                         28.6167
NUM_ISSUES                                 741
population_total                          1184

In [38]:
df.to_csv('../data/data_for_tableau.csv', index=False, encoding='utf-8')

In [39]:
ab = pd.read_csv('../data/data_for_tableau.csv')
ab.shape

(822, 27)

In [40]:
ab.head()

,tract_and_block_group,race_white,race_black,race_asian,race_hispanic,race_other,poverty_pop_below_poverty_level,earned_income_per_capita,poverty_pop_w_public_assistance,poverty_pop_w_food_stamps,...,bedroom,bedroom_std_dev,value,value_std_dev,rent,rent_std_dev,income,income_std_dev,NUM_ISSUES,population_total
0,1004002,0.242399,0.514358,0.035473,0.067568,0.140203,0.000000,34340.0,0.059748,0.138365,...,3,61.512329,350000.0,20.979404,1750,19.162161,112500,28.616720,741,1184
1,511011,0.389970,0.000000,0.000000,0.562126,0.047904,0.177570,29491.0,0.000000,0.031776,...,2,90.187397,225000.0,14.876362,1125,35.203652,112500,30.615832,1808,1336
2,507002,0.348940,0.001767,0.012367,0.636926,0.000000,0.119266,25582.0,0.018349,0.247706,...,2,74.820897,225000.0,8.516771,1125,29.028441,55000,18.206112,798,1132
3,1008006,0.350938,0.478805,0.162613,0.000000,0.007644,0.120482,31195.0,0.026104,0.120482,...,2,64.482556,350000.0,24.413615,1750,32.318613,137500,35.328695,1146,1439
4,1008003,0.646643,0.164900,0.188457,0.000000,0.000000,0.000000,89349.0,0.000000,0.116071,...,1,73.595290,350000.0,10.822484,3750,36.813277,250000,39.978327,864,849

In [27]:
aa = group_table(df_orig)
aa.head(1).T

                                                0
tract_and_block_group                     1004002
queue_wk                                    55026
queue_wk_open                                   1
race_white                               0.242399
race_black                               0.514358
race_asian                               0.035473
race_hispanic                           0.0675676
race_other                               0.140203
poverty_pop_below_poverty_level                 0
earned_income_per_capita                    34340
poverty_pop_w_public_assistance         0.0597484
poverty_pop_w_food_stamps                0.138365
poverty_pop_w_ssi                       0.0597484
zipcode                                      2124
neighborhood_from_zip                  Dorchester
school                              15_hs_diploma
school_std_dev                            91.7672
housing                                       own
housing_std_dev                           26.8701
bedroom                                         3
bedroom_std_dev                           61.5123
value                                      350000
value_std_dev                             20.9794
rent                                         1750
rent_std_dev                              19.1622
income                                     112500
income_std_dev                            28.6167
Source                           Constituent Call
Property_Type                             Address
NUM_ISSUES                                    741

In [28]:
removing_cols(aa.head())

ValueError: labels ['CASE_ENQUIRY_ID' 'LOCATION_ZIPCODE' 'LATITUDE' 'LONGITUDE' 'description'
 'COMPLETION_HOURS_LOG_10' 'OPEN_DT' 'CLOSED_DT' 'SubmittedPhoto' 'TYPE'] not contained in axis