In [2]:
import shapegeocode

tract is census tract.
blkgrp is block group.
so tract + block grp.

https://censusreporter.org/locate/?lat=42.31812984905021&lng=-71.04321956634521&address=325%20Mount%20Vernon%20St,%20Dorchester,%20Massachusetts%2002125

- http://www.bostonplans.org/getattachment/d09af00c-2268-437b-9e40-fd06d0cd20a2
- http://www2.census.gov/geo/pdfs/maps-data/data/tiger/tgrshp2016/TGRSHP2016_TechDoc_Ch3.pdf

In [52]:
def get_tract_block_group(lat, long_, shp_obj):
    d = gc.geocode(lat, long_)
#     return d
    return d['TRACTCE'] + d['BLKGRPCE']

In [4]:
gc = shapegeocode.geocoder('../data/shape-files/cb_2015_25_bg_500k.shp')

In [53]:
get_tract_block_group(42.320280, -71.043779, gc)

'0909011'

- https://api.censusreporter.org/1.0/data/show/latest?table_ids=B03002&geo_ids=15000US250250612002,15000US250250612003
- https://github.com/censusreporter/census-api/blob/master/API.md

342 applicable tables by block groups

## Next section

In [43]:
import pandas as pd

In [62]:
def preprocess_df(file_path):
    df = pd.read_csv(file_path, header=1)
    df = df[[col for col in df.columns if 'Margin' not in col]]
    df.insert(0, 'tract_and_block_group', df['Id2'].apply(lambda id_: str(id_)[-7:]))
    df = df.drop(['Id', 'Id2', 'Geography'], axis=1)
    return df

In [63]:
df = preprocess_df('../data/ACS_15_5YR_B19001_with_ann.csv')
df.head(2)

,tract_and_block_group,Estimate; Total:,"Estimate; Total: - Less than $10,000","Estimate; Total: - $10,000 to $14,999","Estimate; Total: - $15,000 to $19,999","Estimate; Total: - $20,000 to $24,999","Estimate; Total: - $25,000 to $29,999","Estimate; Total: - $30,000 to $34,999","Estimate; Total: - $35,000 to $39,999","Estimate; Total: - $40,000 to $44,999","Estimate; Total: - $45,000 to $49,999","Estimate; Total: - $50,000 to $59,999","Estimate; Total: - $60,000 to $74,999","Estimate; Total: - $75,000 to $99,999","Estimate; Total: - $100,000 to $124,999","Estimate; Total: - $125,000 to $149,999","Estimate; Total: - $150,000 to $199,999","Estimate; Total: - $200,000 or more"
0,0001001,543,24,132,16,30,3,83,0,16,13,72,23,44,16,15,0,56
1,0001002,405,27,30,10,0,14,18,22,16,0,34,54,37,41,19,54,29

In [67]:
df[df.tract_and_block_group == '0909011']

,tract_and_block_group,Estimate; Total:,"Estimate; Total: - Less than $10,000","Estimate; Total: - $10,000 to $14,999","Estimate; Total: - $15,000 to $19,999","Estimate; Total: - $20,000 to $24,999","Estimate; Total: - $25,000 to $29,999","Estimate; Total: - $30,000 to $34,999","Estimate; Total: - $35,000 to $39,999","Estimate; Total: - $40,000 to $44,999","Estimate; Total: - $45,000 to $49,999","Estimate; Total: - $50,000 to $59,999","Estimate; Total: - $60,000 to $74,999","Estimate; Total: - $75,000 to $99,999","Estimate; Total: - $100,000 to $124,999","Estimate; Total: - $125,000 to $149,999","Estimate; Total: - $150,000 to $199,999","Estimate; Total: - $200,000 or more"
312,0909011,645,153,43,42,73,56,2,56,0,23,35,24,80,6,12,40,0