In [6]:
import pandas as pd

In [7]:
df = pd.read_pickle('../data/data_w_descs.pkl')
df.head(2)

,CASE_ENQUIRY_ID,OPEN_DT,TARGET_DT,CLOSED_DT,OnTime_Status,CASE_STATUS,CLOSURE_REASON,CASE_TITLE,SUBJECT,REASON,...,Property_Type,Property_ID,LATITUDE,LONGITUDE,Source,Geocoded_Location,case_enquiry_id,description,specific_location,title
0,101000958209,11/01/2013 09:27:19 AM,11/15/2013 09:27:19 AM,11/27/2013 10:15:45 AM,OVERDUE,Closed,Case Closed Case Resolved,Sign Repair,Transportation - Traffic Division,Signs & Signals,...,Intersection,4053.0,42.3537,-71.0580,Constituent Call,"(42.3537, -71.058)",1.010010e+11,Public safety sign: No | Type of sign: no stop...,None,Damaged Sign at Intersection of Devonshire St ...
1,101001243239,01/06/2015 03:26:49 PM,01/21/2015 03:26:00 PM,01/12/2015 10:49:02 PM,ONTIME,Closed,Case Closed Case Resolved replaced LED. jouber...,outage///printed,Public Works Department,Street Lights,...,Address,63245.0,42.3594,-71.0587,Employee Generated,"(0, 0)",1.010012e+11,Electric or gas light: Electric,None,"Street Lights at 0 Geneva Ave, Dorchester"

In [8]:
df.neighborhood.drop_duplicates()

0                        Downtown / Financial District
1                                           Dorchester
2                                                  NaN
4                                           Roslindale
5                                   Allston / Brighton
6                                          East Boston
8                                          Charlestown
9                                              Roxbury
11                                                 NaN
15                                           Hyde Park
16                                        West Roxbury
17                                       Jamaica Plain
25                                        Mission Hill
29                                                 NaN
31        Fenway / Kenmore / Audubon Circle / Longwood
33                                    Greater Mattapan
39                                        South Boston
40              South Boston / South Boston Waterfront
45                                           South End
50                                            Back Bay
53                                         Beacon Hill
83                                                 NaN
86                                              Boston
93                                                 NaN
97                                                 NaN
147                                                NaN
160                                                NaN
171                                                NaN
175                                                NaN
235                                                NaN
                              ...
904249                                             NaN
904311                                             NaN
904346                                             NaN
904378                                             NaN
904387                                             NaN
904423                                             NaN
904526                                             NaN
904528                                             NaN
904676                                             NaN
904701                                             NaN
904717                                             NaN
904724                                             NaN
904766                                             NaN
904772                                             NaN
904835                                             NaN
904860                                             NaN
904868                                             NaN
904904                                             NaN
904981                                             NaN
905024                                             NaN
905071                                             NaN
905087                                             NaN
905155                                             NaN
905197                                             NaN
905205                                             NaN
905372                                             NaN
905427                                             NaN
905455                                             NaN
905522                                             NaN
905644                                             NaN
Name: neighborhood, dtype: object

In [5]:
df.shape

(905650, 37)

## Adding census tract to df

In [1]:
import shapegeocode

In [2]:
def get_tract_block_group(lat, long_, shp_obj):
    d = gc.geocode(lat, long_)
    return d['TRACTCE'] + d['BLKGRPCE']

In [3]:
gc = shapegeocode.geocoder('../data/shape-files/cb_2015_25_bg_500k.shp')

## >>>

In [7]:
gc.geocode(42.3594, -71.0587)

{'AFFGEOID': '1500000US250250303003',
 'ALAND': 304419,
 'AWATER': 0,
 'BLKGRPCE': '3',
 'COUNTYFP': '025',
 'GEOID': '250250303003',
 'LSAD': 'BG',
 'NAME': '3',
 'STATEFP': '25',
 'TRACTCE': '030300'}

## <<<

In [10]:
df.shape

(905650, 37)

In [12]:
df['tract_and_block_group'] = df[['LATITUDE', 'LONGITUDE']].apply(lambda row: get_tract_block_group(row['LATITUDE'], row['LONGITUDE'], gc), axis=1)

In [ ]:
df.tract_and_block_group.isnull().sum()

## Now adding census data to df

In [3]:
df_census = pd.read_pickle('../data/census_data_aggregated.pkl')
df_census.head(1).T

                                        0
tract_and_block_group             0001001
bedroom_total_ppl                     560
bedroom_0                               8
bedroom_1                             120
bedroom_2                             193
bedroom_3                             183
bedroom_4                              56
bedroom_5+                              0
school_total                          960
school_0_none                          23
school_1_preschool                      0
school_2_kindergarden                   0
school_3_1st_grade                      0
school_4_2nd_grade                      0
school_5_3rd_grade                      9
school_6_4th_grade                      0
school_7_5th_grade                      0
school_8_6th_grade                      0
school_9_7th_grade                      0
school_10_8th_grade                   142
school_11_9th_grade                     0
school_12_10th_grade                    1
school_13_11th_grade                   12
school_14_12th_grade_no_diploma        34
school_15_hs_diploma                  281
school_16_ged                          57
school_17_less_than_1_yr               19
school_18_some_college_no_degree       37
school_19_associates                    0
school_20_bachelors                   298
...                                   ...
housing_total                         543
housing_own                           177
housing_rent                          366
value_total                           177
value_0_10000                           0
value_10000_14999                       0
value_15000_19999                       0
value_20000_24999                       0
value_25000_29999                       0
value_30000_34999                       0
value_35000_39999                       0
value_40000_49999                       0
value_50000_59999                       0
value_60000_69999                       0
value_70000_79999                       0
value_80000_89999                       0
value_90000_99999                       0
value_100000_124999                     0
value_125000_149999                     0
value_150000_174999                     7
value_175000_199999                    13
value_200000_249999                    38
value_250000_299999                    22
value_300000_399999                     5
value_400000_499999                    51
value_500000_749999                    41
value_750000_999999                     0
value_1000000_1499999                   0
value_1500000_1999999                   0
value_2000000+                          0

[117 rows x 1 columns]

In [5]:
df_census[df_census.tract_and_block_group == '9817001'].T

                                      643
tract_and_block_group             9817001
bedroom_total_ppl                       0
bedroom_0                               0
bedroom_1                               0
bedroom_2                               0
bedroom_3                               0
bedroom_4                               0
bedroom_5+                              0
school_total                            0
school_0_none                           0
school_1_preschool                      0
school_2_kindergarden                   0
school_3_1st_grade                      0
school_4_2nd_grade                      0
school_5_3rd_grade                      0
school_6_4th_grade                      0
school_7_5th_grade                      0
school_8_6th_grade                      0
school_9_7th_grade                      0
school_10_8th_grade                     0
school_11_9th_grade                     0
school_12_10th_grade                    0
school_13_11th_grade                    0
school_14_12th_grade_no_diploma         0
school_15_hs_diploma                    0
school_16_ged                           0
school_17_less_than_1_yr                0
school_18_some_college_no_degree        0
school_19_associates                    0
school_20_bachelors                     0
...                                   ...
housing_total                           0
housing_own                             0
housing_rent                            0
value_total                             0
value_0_10000                           0
value_10000_14999                       0
value_15000_19999                       0
value_20000_24999                       0
value_25000_29999                       0
value_30000_34999                       0
value_35000_39999                       0
value_40000_49999                       0
value_50000_59999                       0
value_60000_69999                       0
value_70000_79999                       0
value_80000_89999                       0
value_90000_99999                       0
value_100000_124999                     0
value_125000_149999                     0
value_150000_174999                     0
value_175000_199999                     0
value_200000_249999                     0
value_250000_299999                     0
value_300000_399999                     0
value_400000_499999                     0
value_500000_749999                     0
value_750000_999999                     0
value_1000000_1499999                   0
value_1500000_1999999                   0
value_2000000+                          0

[117 rows x 1 columns]

In [ ]:
df_final = df.merge(df_census, on='tract_and_block_group', how='left')
df_final.head(1).T

In [ ]:
df.shape, df_census.shape, df_final.shape

In [ ]:
from datetime import datetime
to_datetime = lambda d: datetime.strptime(d, '%m/%d/%Y %H:%M:%S %p') if type(d) != float else pd.np.NaN

In [ ]:
df['OPEN_DT'] = df['OPEN_DT'].apply(lambda datetime_text: to_datetime(datetime_text))
df['CLOSED_DT'] = df['CLOSED_DT'].apply(lambda datetime_text: to_datetime(datetime_text))
df['TARGET_DT'] = df['TARGET_DT'].apply(lambda datetime_text: to_datetime(datetime_text))

In [5]:
df['COMPLETION_TIME'] = (df.CLOSED_DT - df.OPEN_DT).apply(lambda x: x / pd.np.timedelta64(1, 'h'))

In [ ]:
!ls -lh *.h5

In [9]:
df_final.to_hdf('../data/data_w_descs_and_census.h5', key='data_w_descs_and_census', format='fixed')

/home/ubuntu/anaconda2/lib/python2.7/site-packages/pandas/io/pytables.py:260: PerformanceWarning:
your performance may suffer as PyTables will pickle object types that it cannot
map directly to c-types [inferred_type->mixed,key->axis0] [items->None]

  f(store)
/home/ubuntu/anaconda2/lib/python2.7/site-packages/pandas/io/pytables.py:260: PerformanceWarning:
your performance may suffer as PyTables will pickle object types that it cannot
map directly to c-types [inferred_type->mixed,key->block1_items] [items->None]

  f(store)
/home/ubuntu/anaconda2/lib/python2.7/site-packages/pandas/core/generic.py:1101: PerformanceWarning:
your performance may suffer as PyTables will pickle object types that it cannot
map directly to c-types [inferred_type->mixed,key->block3_values] [items->['OnTime_Status', 'CASE_STATUS', 'CLOSURE_REASON', 'CASE_TITLE', 'SUBJECT', 'REASON', 'TYPE', 'QUEUE', 'Department', 'SubmittedPhoto', 'ClosedPhoto', 'Location', 'pwd_district', 'police_district', 'neighborhood', 'ward', 'precinct', 'land_usage', 'LOCATION_STREET_NAME', 'Property_Type', 'Source', 'Geocoded_Location', u'description', u'specific_location', u'title', 'tract_and_block_group', 'income_per_capita']]

  return pytables.to_hdf(path_or_buf, key, self, **kwargs)
/home/ubuntu/anaconda2/lib/python2.7/site-packages/pandas/io/pytables.py:260: PerformanceWarning:
your performance may suffer as PyTables will pickle object types that it cannot
map directly to c-types [inferred_type->mixed,key->block3_items] [items->None]

  f(store)

In [6]:
df[df.OPEN_DT < '2016-06-01'].to_hdf('../data/data_till_june_2016_w_descs_and_census.h5', key='data_w_descs_and_census', format='fixed')

/home/ubuntu/anaconda2/lib/python2.7/site-packages/pandas/io/pytables.py:260: PerformanceWarning:
your performance may suffer as PyTables will pickle object types that it cannot
map directly to c-types [inferred_type->mixed,key->axis0] [items->None]

  f(store)
/home/ubuntu/anaconda2/lib/python2.7/site-packages/pandas/io/pytables.py:260: PerformanceWarning:
your performance may suffer as PyTables will pickle object types that it cannot
map directly to c-types [inferred_type->mixed,key->block1_items] [items->None]

  f(store)
/home/ubuntu/anaconda2/lib/python2.7/site-packages/pandas/core/generic.py:1101: PerformanceWarning:
your performance may suffer as PyTables will pickle object types that it cannot
map directly to c-types [inferred_type->mixed,key->block3_values] [items->['OnTime_Status', 'CASE_STATUS', 'CLOSURE_REASON', 'CASE_TITLE', 'SUBJECT', 'REASON', 'TYPE', 'QUEUE', 'Department', 'SubmittedPhoto', 'ClosedPhoto', 'Location', 'pwd_district', 'police_district', 'neighborhood', 'ward', 'precinct', 'land_usage', 'LOCATION_STREET_NAME', 'Property_Type', 'Source', 'Geocoded_Location', u'description', u'specific_location', u'title', 'tract_and_block_group', 'income_per_capita']]

  return pytables.to_hdf(path_or_buf, key, self, **kwargs)
/home/ubuntu/anaconda2/lib/python2.7/site-packages/pandas/io/pytables.py:260: PerformanceWarning:
your performance may suffer as PyTables will pickle object types that it cannot
map directly to c-types [inferred_type->mixed,key->block3_items] [items->None]

  f(store)

## Make smaller pkl for June 2015 - June 2016 data

In [11]:
df[df.OPEN_DT > '2015-06-01'][df.OPEN_DT < '2016-06-01'].to_pickle('../data/data_subset_w_descs_and_census.pkl')

/home/ubuntu/anaconda2/lib/python2.7/site-packages/ipykernel/__main__.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  if __name__ == '__main__':

## Let's look at the rows where there was no census tract + block in Suffolk county that matched that of the latlong