There are a bunch of rows and columns we won't need for the model, so let's drop them.

In [3]:
import pandas as pd

In [ ]:
df = pd.read_pickle('../data/data_w_transformed_census_and_removed_invalid_rows_and_cols_and_fixed_zips_and_descs_and_dropped_latlongs.pkl')

In [4]:
df.shape

(744372, 37)

In [5]:
df.head(1).T

                                                            905223
CASE_ENQUIRY_ID                                       101001983804
OPEN_DT                                        2017-01-08 12:00:16
TARGET_DT                                      2017-01-10 08:30:00
CLOSED_DT                                                      NaT
CASE_TITLE                                     Parking Enforcement
SUBJECT                          Transportation - Traffic Division
REASON                            Enforcement & Abandoned Vehicles
TYPE                                           Parking Enforcement
Department                                                    BTDT
SubmittedPhoto                                               False
neighborhood                                            Roslindale
LOCATION_STREET_NAME                                 80 Cornell St
Property_Type                                              Address
Property_ID                                                  43071
LATITUDE                                                   42.2764
LONGITUDE                                                 -71.1311
Source                                        Citizens Connect App
tract_and_block_group                                      1104035
race_white                                                0.550562
race_black                                                0.152118
race_asian                                                       0
race_hispanic                                             0.278306
race_other                                               0.0190147
poverty_pop_below_poverty_level                              0.135
poverty_pop_w_public_assistance                                  0
poverty_pop_w_food_stamps                                   0.1325
poverty_pop_w_ssi                                           0.0575
COMPLETION_TIME                                                NaN
school                                                20_bachelors
housing                                                        own
bedroom                                                          3
value                                                       350000
rent                                                          2250
income                                                       87500
is_issue_unresolved                                           True
zipcode                                                       2131
neighborhood_from_zip                                   Roslindale

In [6]:
old_df = df.copy()

## Dropping columns

In [80]:
df = old_df.copy()

In [81]:
cols_to_drop = [
    'TARGET_DT',
    'Department',
    'REASON', 
    'Property_ID',
    'CASE_TITLE',
    'SUBJECT',
    'neighborhood',
    'LOCATION_STREET_NAME',
    'tract_and_block_group',
    'is_issue_unresolved'
]

In [82]:
df = df.drop(cols_to_drop, axis=1)

In [83]:
df.Property_Type = df.Property_Type.fillna('other')

In [84]:
df.shape

(744372, 27)

In [85]:
df.head(1).T

                                               905223
CASE_ENQUIRY_ID                          101001983804
OPEN_DT                           2017-01-08 12:00:16
CLOSED_DT                                         NaT
TYPE                              Parking Enforcement
SubmittedPhoto                                  False
Property_Type                                 Address
LATITUDE                                      42.2764
LONGITUDE                                    -71.1311
Source                           Citizens Connect App
race_white                                   0.550562
race_black                                   0.152118
race_asian                                          0
race_hispanic                                0.278306
race_other                                  0.0190147
poverty_pop_below_poverty_level                 0.135
poverty_pop_w_public_assistance                     0
poverty_pop_w_food_stamps                      0.1325
poverty_pop_w_ssi                              0.0575
COMPLETION_TIME                                   NaN
school                                   20_bachelors
housing                                           own
bedroom                                             3
value                                          350000
rent                                             2250
income                                          87500
zipcode                                          2131
neighborhood_from_zip                      Roslindale

## Dropping rows

Internal TYPEs and internal SOURCEs.

In [86]:
df2 = df[~df.TYPE.str.contains('internal', case=False)]
df2.shape

(723117, 27)

In [87]:
df2.Source.drop_duplicates()

905223    Citizens Connect App
905346        Constituent Call
905293            Self Service
905461         City Worker App
905519      Employee Generated
904910                 Twitter
575665      Maximo Integration
Name: Source, dtype: object

In [88]:
df3 = df2[~df2.Source.isin(('City Worker App', 'Employee Generated', 'Maximo Integration'))]
df3.shape

(582722, 27)

## Drop NA y values

In [89]:
df4 = df3.dropna(subset=['COMPLETION_TIME'])
df4.shape

(520860, 27)

In [90]:
df3.COMPLETION_TIME.isnull().sum()

61862

In [91]:
582722 - 61862

520860

## Let's save

In [92]:
df4.to_pickle('../data/data_w_transformed_census_and_removed_invalid_rows_and_cols_and_fixed_zips_and_descs_and_dropped_latlongs_and_more_dropped_cols_and_rows.pkl')