In [29]:
import pandas as pd

In [30]:
df = pd.read_pickle('../data/data_w_transformed_census_and_removed_invalid_rows_and_cols_and_fixed_zips_and_descs_and_dropped_latlongs_and_more_dropped_cols_and_rows.pkl')
df.shape

(520860, 27)

In [31]:
df_descs = pd.read_pickle('../data/data_w_descs.pkl')
df_descs.shape

(905650, 37)

In [5]:
list(df_descs.columns)

['CASE_ENQUIRY_ID',
 'OPEN_DT',
 'TARGET_DT',
 'CLOSED_DT',
 'OnTime_Status',
 'CASE_STATUS',
 'CLOSURE_REASON',
 'CASE_TITLE',
 'SUBJECT',
 'REASON',
 'TYPE',
 'QUEUE',
 'Department',
 'SubmittedPhoto',
 'ClosedPhoto',
 'Location',
 'fire_district',
 'pwd_district',
 'city_council_district',
 'police_district',
 'neighborhood',
 'neighborhood_services_district',
 'ward',
 'precinct',
 'land_usage',
 'LOCATION_STREET_NAME',
 'LOCATION_ZIPCODE',
 'Property_Type',
 'Property_ID',
 'LATITUDE',
 'LONGITUDE',
 'Source',
 'Geocoded_Location',
 u'case_enquiry_id',
 u'description',
 u'specific_location',
 u'title']

In [32]:
df_desc1 = df_descs[['CASE_ENQUIRY_ID', 'description']]

In [33]:
df_desc1['is_description'] = df_desc1.description.notnull()

/home/ec2-user/anaconda2/lib/python2.7/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [34]:
df.shape

(520860, 27)

In [35]:
df.drop_duplicates().shape

(520793, 27)

In [37]:
df_desc1.drop_duplicates().shape

(905550, 3)

NB: somehow I have duplicates in my df. Not exactly sure where they're from.

In [38]:
df_final = df.drop_duplicates().merge(df_desc1.drop_duplicates(), on='CASE_ENQUIRY_ID', how='left')
df_final.shape

(520793, 29)

In [20]:
df_final.drop_duplicates().shape

(520793, 29)

In [18]:
df_final.tail()

,CASE_ENQUIRY_ID,OPEN_DT,CLOSED_DT,TYPE,SubmittedPhoto,Property_Type,LATITUDE,LONGITUDE,Source,race_white,...,school,housing,bedroom,value,rent,income,zipcode,neighborhood_from_zip,description,is_description
520989,101000295615,2011-07-01 02:28:04,2011-08-01 03:21:46,New Sign Crosswalk or Pavement Marking,False,Intersection,42.3003,-71.1698,Self Service,0.902900,...,21_masters,own,3,625000.0,51,112500,2132.0,West Roxbury,Type of request: Crosswalk | Details: No sidew...,True
520990,101000295615,2011-07-01 02:28:04,2011-08-01 03:21:46,New Sign Crosswalk or Pavement Marking,False,Intersection,42.3003,-71.1698,Self Service,0.902900,...,21_masters,own,3,625000.0,51,112500,2132.0,West Roxbury,Type of request: Crosswalk | Details: No sidew...,True
520991,101000295615,2011-07-01 02:28:04,2011-08-01 03:21:46,New Sign Crosswalk or Pavement Marking,False,Intersection,42.3003,-71.1698,Self Service,0.902900,...,21_masters,own,3,625000.0,51,112500,2132.0,West Roxbury,Type of request: Crosswalk | Details: No sidew...,True
520992,101000295615,2011-07-01 02:28:04,2011-08-01 03:21:46,New Sign Crosswalk or Pavement Marking,False,Intersection,42.3003,-71.1698,Self Service,0.902900,...,21_masters,own,3,625000.0,51,112500,2132.0,West Roxbury,Type of request: Crosswalk | Details: No sidew...,True
520993,101000295614,2011-07-01 02:18:31,2011-07-01 06:12:43,Schedule a Bulk Item Pickup,False,Address,42.2839,-71.1447,Self Service,0.622642,...,20_bachelors,own,2,350000.0,1125,137500,2131.0,Roslindale,NaN,False

In [15]:
df_final.head(4).tail(1).T

                                                            3
CASE_ENQUIRY_ID                                  101001983761
OPEN_DT                                   2017-01-07 09:12:00
CLOSED_DT                                 2017-01-07 10:13:48
TYPE                             Public Works General Request
SubmittedPhoto                                          False
Property_Type                                         Address
LATITUDE                                              42.2829
LONGITUDE                                            -71.0631
Source                                       Constituent Call
race_white                                           0.350938
race_black                                           0.478805
race_asian                                           0.162613
race_hispanic                                               0
race_other                                          0.0076442
poverty_pop_below_poverty_level                      0.120482
poverty_pop_w_public_assistance                     0.0261044
poverty_pop_w_food_stamps                            0.120482
poverty_pop_w_ssi                                   0.0381526
COMPLETION_TIME                                          1.03
school                                          19_associates
housing                                                   own
bedroom                                                     2
value                                                  350000
rent                                                     1750
income                                                 137500
zipcode                                                  2124
neighborhood_from_zip                              Dorchester
description                                               NaN
is_description                                          False

In [39]:
df_final.shape

(520793, 29)

In [40]:
df_final.to_pickle('../data/data_w_transformed_census_and_removed_invalid_rows_and_cols_and_fixed_zips_and_descs_and_dropped_latlongs_and_more_dropped_cols_and_rows_and_actual_descs.pkl')

In [41]:
!ls -lh ../data/**actual**

-rw-rw-r-- 1 ec2-user ec2-user 145M Feb  4 02:27 ../data/data_w_transformed_census_and_removed_invalid_rows_and_cols_and_fixed_zips_and_descs_and_dropped_latlongs_and_more_dropped_cols_and_rows_and_actual_descs.pkl