- dec tree, or RF, or log reg?

## Objective

Since what I'm most interested in is which factors are most associated with whether an issue is unresolved, random forests seems like the most appropriate model choice, since I can look at the variable importance plot.

Logistic regression is a close second; random forests usually have better performance.

Random forests can also do a better job at getting signal out of raw lat and long. For logistic regression, there would need to be a linear relationship between lat and long and the log-odds of the issue being unresolved, which is a taller order.

In [35]:
from __future__ import division
import pandas as pd
from datetime import timedelta, datetime

In [42]:
df = pd.read_pickle('../data/data_w_transformed_census_and_removed_invalid_rows_and_cols.pkl')
df.shape

(716310, 36)

In [43]:
df.head(1).T

                                                                      0
CASE_ENQUIRY_ID                                            101000958209
OPEN_DT                                             2013-11-01 09:27:19
TARGET_DT                                           2013-11-15 09:27:19
CLOSED_DT                                           2013-11-27 10:15:45
CASE_TITLE                                                  Sign Repair
SUBJECT                               Transportation - Traffic Division
REASON                                                  Signs & Signals
TYPE                                                        Sign Repair
Department                                                         BTDT
SubmittedPhoto                                                    False
neighborhood                              Downtown / Financial District
LOCATION_STREET_NAME             INTERSECTION Devonshire St & Summer St
LOCATION_ZIPCODE                                                    NaN
Property_Type                                              Intersection
Property_ID                                                        4053
LATITUDE                                                        42.3537
LONGITUDE                                                       -71.058
Source                                                 Constituent Call
tract_and_block_group                                           0701018
race_white                                                  1.76007e-05
race_black                                                  2.05161e-06
race_asian                                                            0
race_hispanic                                               1.51172e-06
race_other                                                  1.51172e-06
poverty_pop_below_poverty_level                                       0
poverty_pop_w_public_assistance                                       0
poverty_pop_w_food_stamps                                             0
poverty_pop_w_ssi                                                     0
COMPLETION_TIME                                                 624.807
school                                                     20_bachelors
housing                                                            rent
bedroom                                                               2
value                                                            875000
rent                                                               2750
income                                                           250000
is_issue_unresolved                                               False

## Preprocessing

In [33]:
df.TARGET_DT.head(100).isnull().sum()

21

In [40]:
df.LOCATION_ZIPCODE.head(100).isnull().sum()

14

TODO: make my own zipcode and neighborhood mappings to Census block groups so I can input them into my model

In [ ]:
df['days_from_feb_2016'] = (datetime(year=2016, month=2, day=1) - df.OPEN_DT.map(lambda x: x.days)

In [44]:
df = df.drop(
    ['OPEN_DT',
     'TARGET_DT',
     'CLOSED_DT',
     'COMPLETION_TIME',
     'Property_ID',
     'LOCATION_STREET_NAME',
     'CASE_TITLE',
     'CASE_ENQUIRY_ID'
    ], 
    axis=1
)

In [45]:
df.shape

(716310, 30)

In [53]:
df['LOCATION_ZIPCODE'] = df['LOCATION_ZIPCODE'].astype('object').fillna('other')

In [46]:
df.head(1).T

                                                                 0
CASE_ENQUIRY_ID                                       101000958209
CASE_TITLE                                             Sign Repair
SUBJECT                          Transportation - Traffic Division
REASON                                             Signs & Signals
TYPE                                                   Sign Repair
Department                                                    BTDT
SubmittedPhoto                                               False
neighborhood                         Downtown / Financial District
LOCATION_ZIPCODE                                               NaN
Property_Type                                         Intersection
LATITUDE                                                   42.3537
LONGITUDE                                                  -71.058
Source                                            Constituent Call
tract_and_block_group                                      0701018
race_white                                             1.76007e-05
race_black                                             2.05161e-06
race_asian                                                       0
race_hispanic                                          1.51172e-06
race_other                                             1.51172e-06
poverty_pop_below_poverty_level                                  0
poverty_pop_w_public_assistance                                  0
poverty_pop_w_food_stamps                                        0
poverty_pop_w_ssi                                                0
school                                                20_bachelors
housing                                                       rent
bedroom                                                          2
value                                                       875000
rent                                                          2750
income                                                      250000
is_issue_unresolved                                          False

In [50]:
df[['LOCATION_ZIPCODE', 'tract_and_block_group']].dtypes

LOCATION_ZIPCODE         float64
tract_and_block_group     object
dtype: object

- days b4 last date
- does type involve snow?
- neighborhood
- race, income

## scratch, investigating race for 0701018

In [54]:
aa = pd.read_pickle('../data/census_data_aggregated.pkl')
aa.head(2)

,tract_and_block_group,bedroom_total_ppl,bedroom_0,bedroom_1,bedroom_2,bedroom_3,bedroom_4,bedroom_5+,school_total,school_0_none,...,value_175000_199999,value_200000_249999,value_250000_299999,value_300000_399999,value_400000_499999,value_500000_749999,value_750000_999999,value_1000000_1499999,value_1500000_1999999,value_2000000+
0,0001001,560,8,120,193,183,56,0,960,23,...,13,38,22,5,51,41,0,0,0,0
1,0001002,485,9,30,239,132,36,39,794,27,...,0,9,11,55,19,8,0,0,0,0

In [57]:
aa[aa.tract_and_block_group == '0701018'].T.loc['race_total':]

                                    214
race_total                          210
race_white                          163
race_black                           19
race_asian                            0
race_hispanic                        14
race_other                           14
income_total                        122
income_0_10000                        0
income_10000_14999                    0
income_15000_19999                    0
income_20000_24999                    0
income_25000_29999                    0
income_30000_34999                    0
income_35000_39999                    0
income_40000_44999                    0
income_45000_49999                    0
income_50000_59999                    0
income_60000_74999                   16
income_75000_99999                    0
income_100000_124999                 33
income_125000_149999                  0
income_150000_199999                 13
income_200000+                       60
poverty_total_pop                   122
poverty_pop_below_poverty_level       0
income_per_capita                282601
poverty_pop_w_public_assistance       0
poverty_pop_w_food_stamps             0
poverty_pop_w_ssi                     0
housing_total                       122
housing_own                          32
housing_rent                         90
value_total                          32
value_0_10000                         0
value_10000_14999                     0
value_15000_19999                     0
value_20000_24999                     0
value_25000_29999                     0
value_30000_34999                     0
value_35000_39999                     0
value_40000_49999                     0
value_50000_59999                     0
value_60000_69999                     0
value_70000_79999                     0
value_80000_89999                     0
value_90000_99999                     0
value_100000_124999                   0
value_125000_149999                   0
value_150000_174999                   0
value_175000_199999                   0
value_200000_249999                   0
value_250000_299999                   0
value_300000_399999                   0
value_400000_499999                  13
value_500000_749999                   0
value_750000_999999                  19
value_1000000_1499999                 0
value_1500000_1999999                 0
value_2000000+                        0